* {
  margin: 0;
}
.container {
  display: flex;
  flex-direction: row;
}
a * {
  text-decoration: none;
}
div {

}
.student_1 {
  background-image: url("http://simplonmars.eu/img/promo/2016/363401.jpg");
}
.student_2 {
  background-image: url("http://simplonmars.eu/img/promo/2016/98257.jpg");
}
.student_1:hover {
    opacity: 0.4;
    transition: scale(0.3);
    transition-duration: 5s;
}
