* {
  margin: 0;
}
.container {
  display: flex;
  flex-direction: row;
}

.student, .one, .two {
  box-sizing: border-box;
  width: 50%;
}
.blank_cv {
  
}
.one:hover {
    opacity: 0.4;
    transition: scale(0.3);
    transition-duration: 5s;
}
.two:focus {
    transition: 3s;

}
