.item {
  border: 2px ridge blue;
  flex:none;
}
.container {
  margin: auto;
  width:calc(1400px - 4px);
  justify-content: center;
  border-left: 4px solid grey;
  border-right: 4px solid grey;
  justify-content: space-around;
  padding-left: 4px;
  padding-right: 4px;
}
.margin {
  margin: 10px;
}

h1 {
  text-align: center;
}
.social {
  justify-content: center;
  background-color: aqua;
}
.twitter {
  width: 64px;
  height: 64px;
  background-image: url("twitter.png");
}
.twitter:hover {
  background-image: url("twitterh.png");
}
.viadeo {
  width: 20px;
  height: 20px;
  background-image: url("twitter1.png");
}
.github {
  width: 64px;
  height: 64px;
  background-image: url("git.png");
}
.github:hover{
  background-image: url("gith.png");
}
