.item {
  border: 2px ridge blue;
  flex:none;
}
.container {
  margin: auto;
  width:calc(1400px - 4px);
  justify-content: center;
  border-left: 4px solid grey;
  border-right: 4px solid grey;
  justify-content: space-around;
  padding-left: 4px;
  padding-right: 4px;
}
.margin {
  margin: 10px;
}

h1 {
  text-align: center;
}
li {
  list-style: none;
}
.social {
  justify-content: center;
  background-color: aqua;
}
.twitter {
  width: 64px;
  height: 64px;
  background-image: url("simplonstrap/twitter_blue.png");
}
.twitter:hover {
  background-image: url("simplonstrap/twitter_gray.png");
}
.viadeo {
  width: 20px;
  height: 20px;
  background-image: url("simplonmars/viadeo.png");
}
.viadeo:hover {
  background-image: url("simplonmars/viadeo.png");
}
.github {
  width: 64px;
  height: 64px;
  background-image: url("simplonstrap/github_black.png");
}
.github:hover{
  background-image: url("simplonstrap/github_gray.png");
}
.linkedin {
    width: 20px;
    height: 20px;
    background-image: url("simplonmars/linkedin_blue.png");
}
.linkedin:hover {
  background-image: url("simplonmars/linkedin_gray.png");
}
