.item {
  border: 2px ridge blue;
  flex:none;
}
.container {
  margin: auto;
  width:calc(1400px - 4px);
  justify-content: center;
  border-left: 4px solid grey;
  border-right: 4px solid grey;
  justify-content: space-around;
  padding-left: 4px;
  padding-right: 4px;
}
.margin {
  margin: 10px;
}

h1 {
  text-align: center;
}
li {
  list-style: none;
}
.social {
  justify-content: center;
  background-color: aqua;
}
.twitter {
  width: 64px;
  height: 64px;
  background-image: url("simplonstrap/twitter_blue.png");
}
.twitter:hover {
  background-image: url("simplonstrap/twitter_gray.png");
}
.mail {
  width: 64px;
  height: 64px;
  background-image: url("simplonstrap/mail_black.png");
}
.mail:hover {
  background-image: url("simplonstrap/mail_white.png");
}
.github {
  width: 64px;
  height: 64px;
  background-image: url("simplonstrap/github_black.png");
}
.github:hover{
  background-image: url("simplonstrap/github_gray.png");
}
.linkedin {
  width: 64px;
  height: 64px;
  background-image: url("simplonstrap/linkedin_blue.png");
}
.linkedin:hover {
  background-image: url("simplonstrap/linkedin_gray.png");
}
.viadeo {
  width: 64px;
  height: 64px;
  background-image: url("simplonstrap/viadeo_orange.png");
}
.viadeo:hover {
  background-image: url("simplonstrap/viadeo.png");
}
.final_step {
  background-color: white;
}
input {
  /*contour*/
  padding: 30px;
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
  border-radius: 10px;
	text-shadow: 0px -2px #2980B9;
  /*police*/
  text-transform: uppercase;
  font-weight: bolder;
  color: #fff;
}
/*Quand flèche passe par la div*/
#download:hover {
  color: #fff;
  font-weight: bolder;
  text-decoration: none;
}
input:hover {
  cursor: pointer;
}
input:hover {
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
  -moz-transform: translate(0px,5px);
  -o-transform: translate(0px,5px);
	border-bottom: 1px solid;
}
